<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste">
        Voltar
    </a>

    <h1>
        Mensagens de contato
    </h1>

    <br>

    <a href="/teste/contato/cadastrar">
        Cadastrar mensagem de contato
    </a>

    <br>

    <div th:each="contact : ${contacts}">
        <p>
            Nome: &nbsp; <span th:text="${contact.name}"></span>
            <br>
            Cidade: &nbsp; <span th:text="${contact.email}"></span>
            <br>
            Música: &nbsp; <span th:text="${contact.phone}"></span>
            <br>
            Mensagem: &nbsp; <span th:text="${contact.message}"></span>
        </p>
        
        <p>
            <a th:href="@{/teste/contato/detalhes/{id}(id=${contact.id})}">
                Detalhes
            </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a th:href="@{/teste/contato/deletar/{id}(id=${contact.id})}">
                Deletar
            </a>
        </p>

        <hr>
    </div>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>