<!-- Include layout -->
<th:block th:insert="components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="components/header"></th:block>

<hr>

<a href="/autor/lista">
    <-- Voltar
</a>

<section>
    <h1>
        Editar usuário: <span th:text="${author.name}"></span>
    </h1>

    <form th:action="@{/autor/update/{id}(id=${author.id})}" th:object="${author}" method="post">
        <input type="text" th:field="*{name}" id="name">
        <!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> -->

        <button>
            Atualizar
        </button>
    </form>
</section>