<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste/programas">
        Voltar
    </a>

    <h1>
        Editar programa: <span th:text="${schedule.id}"></span>
    </h1>

    <form th:action="@{/teste/programas/editar/{id}(id=${schedule.id})}" th:object="${schedule}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Nome">

        <select th:field="*{style}" id="">
            <option value="Sertanejo">
                Sertajeno
            </option>
            <option value="Pop">
                Pop
            </option>
        </select>

        <select th:field="*{hour}" id="">
            <option value="13:00">
                13:00
            </option>
            <option value="14:00">
                14:00
            </option>
        </select>
        
        <select th:field="*{segmentation}" id="">
            <option value="Livre para todos os públicos">
                Livre para todos os públicos
            </option>
            <option value="Adulto">
                Adulto
            </option> 
        </select>

        <select th:field="*{team}">
            <span th:each="team : ${teams}">
                <option th:text="${team.id}" th:value="${team.id}"></option>
            </span>
        </select>
    
        <button>
            Enviar
        </button>
    </form>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>