<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste">
        Voltar
    </a>

    <h1>
       Programas
    </h1>

    <br>

    <a href="/teste/programas/cadastrar">
        Adicionar programas
    </a>

    <br>

    <div th:each="schedule : ${schedules}">
        <p>
            <h4>
                Programa
            </h4>
            <p> 
                Nome: <span th:text="${schedule.name}"></span>
                <br>
                Estilo: <span th:text="${schedule.style}"></span>
                <br>
                Hora: <span th:text="${schedule.hour}"></span>
                <br>
                Segmentação: <span th:text="${schedule.segmentation}"></span>
            </p>
    
            <h4>
                Programa
            </h4>
            <p> 
                Nome: <span th:text="${schedule.team.name}"></span>
                <br>
                Estilo: <span th:text="${schedule.team.role}"></span>
            </p>
        </p>
        
        <p>
            <a th:href="@{/teste/programas/detalhes/{id}(id=${schedule.id})}">
                Detalhes
            </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a th:href="@{/teste/programas/editar/{id}(id=${schedule.id})}">
                Editar
            </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a th:href="@{/teste/programas/deletar/{id}(id=${schedule.id})}">
                Deletar
            </a>
        </p>

        <hr>
    </div>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>