<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste/programas">
        Voltar
    </a>

    <h1>
        Programa: <span th:text="${schedule.id}"></span>
    </h1>

    <div>
        <h4>
            Programa
        </h4>
        <p> 
            Nome: <span th:text="${schedule.name}"></span>
            <br>
            Estilo: <span th:text="${schedule.style}"></span>
            <br>
            Hora: <span th:text="${schedule.hour}"></span>
            <br>
            Segmentação: <span th:text="${schedule.segmentation}"></span>
        </p>

        <h4>
            Programa
        </h4>
        <p> 
            Nome: <span th:text="${schedule.team.name}"></span>
            <br>
            Estilo: <span th:text="${schedule.team.role}"></span>
        </p>
    </div>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>