<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste/programas">
        Voltar
    </a>

    <h1>
        Cadastro de Programas
    </h1>
    
    <form action="/teste/programas/cadastrar" method="POST">
        <input type="text" name="name" placeholder="Nome">

        <select name="style" id="">
            <option value="Sertanejo">
                Sertajeno
            </option>
            <option value="Pop">
                Pop
            </option>
        </select>

        <select name="hour" id="">
            <option value="13:00">
                13:00
            </option>
            <option value="14:00">
                14:00
            </option>
        </select>
        
        <select name="segmentation" id="">
            <option value="Livre para todos os públicos">
                Livre para todos os públicos
            </option>
            <option value="Adulto">
                Adulto
            </option> 
        </select>

        <select name="team_id">
            <span th:each="team : ${teams}">
                <option th:text="${team.id}" th:value="${team.id}"></option>
            </span>
        </select>
    
        <button>
            Enviar
        </button>
    </form>

    <!-- Validation message -->
    <p th:text="${error}">
    </p>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>