<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <h1>
        Testes do back-end
    </h1>

    <br>
    <hr>
    <br>

    <a href="/teste/pedidos-de-musicas">
        Pedidos de músicas
    </a>
    
    <br>
    <br>
    <hr>
    <br>

    <a href="/teste/contato">
        Mensagens de contatos
    </a>

    <br>
    <br>
    <hr>
    <br>

    <a href="/teste/equipe">
        Equipe
    </a>

    <br>
    <br>
    <hr>
    <br>

    <a href="/teste/programas">
        Programas
    </a>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>