<!-- Include layout -->
<th:block th:insert="components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="components/header"></th:block>

<a href="/usuarios">
    <-- Voltar
</a>

<section>
    <h1>
        Publicar notícias
    </h1>

    <form method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="Título">
        <input type="text" name="description" id="description" placeholder="Descrição">
        <input type="number" name="author_id" title="author_id">
        <input type="file" id="image" name="image">

        <button>
            Publicar
        </button>
    </form>
</section>