<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste/equipe">
        Voltar
    </a>

    <h1>
        Editar membro da equipe: <span th:text="${team.id}"></span>
    </h1>

    <form th:action="@{/teste/equipe/editar/{id}(id=${team.id})}"  th:object="${team}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Nome">
        
        <br>

        <input type="text" th:field="*{role}" placeholder="Função">

        <button>
            Enviar
        </button>
    </form>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>