<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste">
        Voltar
    </a>

    <h1>
       Equipe
    </h1>

    <br>

    <a href="/teste/equipe/cadastrar">
        Cadastrar Equipe
    </a>

    <br>

    <div th:each="team : ${teams}">
        <p>
            Nome: &nbsp; <span th:text="${team.name}"></span>
            <br>
            Função: &nbsp; <span th:text="${team.role}"></span>
        </p>
        
        <p>
            <a th:href="@{/teste/equipe/detalhes/{id}(id=${team.id})}">
                Detalhes
            </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a th:href="@{/teste/equipe/editar/{id}(id=${team.id})}">
                Editar
            </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a th:href="@{/teste/equipe/deletar/{id}(id=${team.id})}">
                Deletar
            </a>
        </p>

        <hr>
    </div>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>