<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste/equipe">
        Voltar
    </a>

    <h1>
        Equipe: <span th:text="${team.id}"></span>
    </h1>

    <div>
        <p> 
            Nome: <span th:text="${team.name}"></span>
        </p>
        <p> 
            Função: <span th:text="${team.role}"></span>
        </p>
    </div>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>