<!-- Include layout -->
<th:block th:insert="pages/components/layout"></th:block>

<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main>
    <a href="/teste/equipe">
        Voltar
    </a>

    <h1>
        Cadastro de Equipe
    </h1>

    <form action="/teste/equipe/cadastrar" method="POST">
        <input type="text" name="name" placeholder="Nome">
        
        <br>

        <input type="text" name="role" placeholder="Função">

        <button>
            Enviar
        </button>
    </form>

    <!-- Validation message -->
    <p th:text="${error}">
    </p>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>